<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
  <meta charset='UTF-8'/>
  <meta http-equiv="refresh" content="2; url=http://meetup.com/node-dc">
  <title>{% if page.url == '/index.html' %}{{page.title}}{% else %}{{page.title}}{% endif %}</title>
  <meta name="google-site-verification" content="3_AincuDV0tLeXzTSZtT0OteAIiDI0uTQW6228LD1pg" /> <!-- allow use of Google Webmaster Tools -->
  <link rel='stylesheet' href='{{base}}/site.css' type='text/css'/>
  <!--[if IE]><link rel='stylesheet' href='{{base}}/site-ie.css' type='text/css'/><![endif]-->
  <link rel='shortcut icon' href='{{base}}/images/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
  <script type='text/javascript'>
    var site = {
      twitter_search: '{{site.twitter_search}}',
      github_language: '{{site.github_language}}',
      github_login: '{{site.github_login}}',
      github_repo: '{{site.github_repo}}',
      hashtag: '{{site.hashtag}}'
    };
  </script>
  <script src='{{base}}/js/jquery-1.6.4.min.js' type='text/javascript'></script>
  <script src='{{base}}/js/underscore.js' type='text/javascript'></script>
  <script src='{{base}}/js/backbone.js' type='text/javascript'></script>
  <script src='{{base}}/js/site.js' type='text/javascript'></script>
  <script type="text/javascript"> <!-- Enable Google Webmaster Tools and Analytics -->

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34225135-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class='limiter'>
    <div id='main'>
      <header>
        <h1><a class='logo' href="/">node.dc</a></h1>
      </header>
      <div id='content' class="prose">
        <h2>We’ve Moved!</h2>

        <p>Node.dc now keeps in touch via <a href="http://meetup.com/node-dc">meetup.com/node-dc</a>. Check us out over there!</p>

        <p>Redirecting…</p>
      </div>
    </div>

  </div>
</body>
</html>
